.container > *{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
nav{
    background-color: black;
    height: 100px;
    width: 520px;
}
.main{
    display: flex;
    flex-direction: row;  
}
.main .side{
    order: 1;
    background-color: black;
    height: 200px;
    width: 150px; 
 } 
 .main .main-content{
    order: 2;
    background-color: black;
    height: 200px;
    width: 360px;
    margin-left: 10px;
 }
 footer{
    background-color: black;
    height: 100px;
    width: 520px;
 }