.container > *{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
nav{
    background-color: black;
    height: 100px;
    width: 470px;
}
.main{
    display: flex;
    flex-direction: row;  
}
.main .content-1{
    order: 1;
    background-color: black;
    height: 300px;
    width: 100px; 
 } 
 .main .content-2{
    order: 2;
    background-color: black;
    height: 300px;
    width: 100px;
    margin-left: 10px;
 }
 .main .main-content{
    order: 3;
    background-color: black;
    height: 300px;
    width: 250px; 
    margin-left: 10px;
 } 
 footer{
    background-color: black;
    height: 100px;
    width: 470px;
 }