.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container > *{
    margin: 10px;
}
.side{
    background-color: black;
    height: 450px;
    width: 150px;
} 
.main{
    background-color: black;
    height: 450px;
    width: 200px;
}
